@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #f6f6f6;
}
/* date picker */
.react-datepicker {
  font-size: 0.8rem;
  color: #000;
  border: none !important;
  display: inline-block;
  position: relative;
}
.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: none !important;
  padding: 8px 0;
  position: relative;
}
/* tables */
.custom-table {
  border-collapse: separate;
  border-spacing: 0 17px;
}

.custom-table tr,
.custom-table td:first-child {
  border-top-left-radius: 10px;
}
.custom-table tr,
.custom-table td:last-child {
  border-top-right-radius: 10px;
}

.custom-table tr,
.custom-table td:first-child {
  border-bottom-left-radius: 10px;
}
.custom-table tr,
.custom-table td:last-child {
  border-bottom-right-radius: 10px;
}

/* width */
.yellowScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.yellowScroll::-webkit-scrollbar-track {
  background: #b3b4b4;
  border-radius: 5px;
}

/* Handle */
.yellowScroll::-webkit-scrollbar-thumb {
  background: #ffd600;
  border-radius: 5px;
}

/* Handle on hover */
.yellowScroll::-webkit-scrollbar-thumb:hover {
  background: #ffd600;
}

/*Fire Fox */

.yellowScroll {
  scrollbar-width: thin;
  scrollbar-color: #ffd600 #1e1e1e;
  scrollbar-gutter: stable;
}

/* width */
.yellowScrollNoBg::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.yellowScrollNoBg::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
.yellowScrollNoBg::-webkit-scrollbar-thumb {
  background: #ffd600;
  border-radius: 5px;
}

/* Handle on hover */
.yellowScrollNoBg::-webkit-scrollbar-thumb:hover {
  background: #ffd600;
}

/*Fire Fox */

.yellowScrollNoBg {
  scrollbar-width: thin;
  scrollbar-color: #ffd600 transparent;
  scrollbar-gutter: stable;
}


/* width */
.yellowScrollWhiteBg::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.yellowScrollWhiteBg::-webkit-scrollbar-track {
  background: #B3B4B4;
  border-radius: 5px;
}

/* Handle */
.yellowScrollWhiteBg::-webkit-scrollbar-thumb {
  background: #ffd600;
  border-radius: 5px;
}

/* Handle on hover */
.yellowScrollWhiteBg::-webkit-scrollbar-thumb:hover {
  background: #ffd600;
}

/*Fire Fox */

.yellowScrollWhiteBg {
  scrollbar-width: thin;
  scrollbar-color: #ffd600 #B3B4B4;
  scrollbar-gutter: stable;
}


.styledDiv {
  background: transparent;
  position: relative;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.styledDiv::after {
  border: 1px solid white;
  border-right: 0;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  transform: rotate(180deg);
  width: 100%;
  height: calc(100% + 1px);
  transform-origin: top right;
  transform: skew(170deg, 0deg);
}
.scroll-left {
  direction: rtl;
}
.direction-ltr {
  direction: ltr;
}
