@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indicator.active {
  background-color: transparent !important;
}
.horizontal-bullets .indicators {
  position: absolute;
  left: 36px;
  bottom: 20px;
}
.vertical-bullets .indicators {
  position: absolute;
  left: 40%;
  bottom: 14px;
}


/* width */
.latestNews::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.latestNews::-webkit-scrollbar-track {
  background: #1E1E1E;
  border-radius: 5px;
}

/* Handle */
.latestNews::-webkit-scrollbar-thumb {
  background: #ffd600;
  border-radius: 5px;
}

/* Handle on hover */
.latestNews::-webkit-scrollbar-thumb:hover {
  background: #ffd600;
}

/*Fire Fox */

.latestNews{
  scrollbar-width:thin;
  scrollbar-color: #ffd600 #1E1E1E;
  scrollbar-gutter: stable;
}
